<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abdullahi's Portfolio</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@400;900&family=Ubuntu+Mono:ital@1&display=swap" rel="stylesheet">
</head>
<body>
<!-- ------- Navbar --------- -->
    <nav class="navbar">
        <div class="container-floud">
            <a href="" class="navbar-label introduction">Abdullahi</a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="" class="nav-link">About</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">projects</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">Contact</a>
                </li>
            </ul>
        </div>
    </nav>

<!-- --------------- Navbar ends --------------- -->

<!-- ----------------- Header ------------------- -->
<header>
    <div class="header-content">
        <p class="introduction">Hi there, I am Abdullahi Hussein,</p>
        <h1 class="landing-head">
            I design Full stack websites. Loving the process of bringing new project to life as much as the final product.
        </h1>
    </div>
</header>

<section id="feature-article">
    <div class="article-element article-description">
        <p class="info-p">Feature Project</p>
        <hr class="mid-bg">
        <h1 class="article-header">Fully functional Blog </h1>
        <p class="article-summary">
            Features of the blog include: In blog new post publications and 
            post deletions only for the admin. Register your users. This lets your 
            users get features such as commenting on a post and, saving posts they like. 
            Once users Register their password is encrypted. main admin can add new 
            admins for post management and publication. Admins' views such as post editting, 
            creating new post, and post deletion is not accessible to users.</p>
    </div>
    <div class="article-element article-img">
        <img src="../static/images/feature.png" class="article-img-inner">
    </div> 
</section>

<!-- ----------------------- Call to attention ----------- ------>
<section id="call-to-action">
    <div class="direction-action">
       <div class="contact-link">
            <h3 class="action-head"><a href="">Get in touch ❯</a></h3>
            <p class="action-p">Get in touch with me for work or questions.</p>
       </div>
    </div>
    <div class="direction-action work-link">
        <div>
            <h3 class="action-head"><a href="">my work ❯</a></h3>
            <p class="action-p">Browse through project catalog.</p>
        </div>
    </div>
</section>
<footer>
    <p class="copyright">&copy; Abdullahi 2022</p>
</footer>


</body>
</html>